<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @booking.userid %>
</p>

<p>
  <strong>Roomid:</strong>
  <%= @booking.roomid %>
</p>

<p>
  <strong>Time date:</strong>
  <%= @booking.time_date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
